<nav>
  <h1>Hi.</h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/ProfilePic_Side_NoBackground.png" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <h2>I'm <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p>Geeky guy , loves to challenge myself and never sleep until the hurdle clears</p>
    <p>
     {{ site.data.theme.description }} 
    </p>
  </div>
  <div id="social">
    {% include social.html %}f
  </div>
</nav>
